Hello Admin <%=@admin.fname%>

<form method="POST" action="/session">
	<input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
	<input name="_method" value="DELETE" type="hidden">
  	<button class="logout_button">Logout</button>  
</form>


<h1>Manage Sections and Content</h1><br>

<% @sections.each do |s| %>

<li><%= s.name %>, <%=s.description%>, <a href="/admin/<%=@admin.id%>/sections/<%=s.id%>/edit">Edit</a></li><br>

<% end %>

<br>

Manage Testimonials and Content<br>

<% @testimonials.each do |t| %>

<li><%= t.name %>, <%=t.description%> <a href="/admin/<%=@admin.id%>/testimonials/<%=t.id%>/edit">Edit</a></li>

<% end %>

<br>

Images 

<a href="/admin/<%=@admin.id%>/images"> Images </a>
