Edit info

<form action="/admin/<%=@admin.id%>/sections/<%=@section.id%>" method="POST">
		<input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
<input type="hidden" name="_method" value="put" />
<input placeholder="<%=@section.name%>" name="name">
<input placeholder="<%=@section.description%>" name="description">
<input type="submit">
</p>





image form

<%= form_for @section, :html => { :multipart => true } do |form| %>
  <%= form.text_field :name %>
  <%= form.text_field :description %>
  <%= form.fields_for :image do |image_form| %>
    <%= image_form.file_field :photo %>
  <% end %>
  <%= form.submit %>
<% end %>


photos:

