<!-- <div id="menu-show">
    <h2><span class="hamburger">☰</span> MENU</h2>
</div> -->
<header class="left">
    <section id="logo">
        <figure>
            <%=image_tag("logo-cka.png", alt: "Culinary Kids Academy")%>
            <!-- <img src="imgs/layout/logo-cka.png" alt="Culinary Kids Academy"> -->
            <!-- <figcaption></figcaption> -->
        </figure>
        <h1 class="logo">Culinary Kids Academy</h1>
    </section>
    
    <nav role="main-navigation" itemscope itemtype="https://schema.org/SiteNavigationElement">
        <ul class="navmenu">
            <li id="nav-offering"><a href="#our-offering">Our offering</a></li>
            <li id="nav-story"><a href="#cka-story">The CKA story</a></li>
            <li id="nav-testimonials"><a href="#testimonials">Testimonials</a></li>
            <li id="nav-blog"><a href="#blog">CKA blog</a></li>
            <li id="nav-contact"><a href="#phone">Contact</a></li>
        </ul>       
    </nav>
    <ul id="social-icons">
        <li><a href="#" id="fb"> <%=image_tag("icons/icon-6-fb.png", alt: "Facebook")%> </a></li>
        <li><a href="#" id="pin"><%=image_tag("icons/icon-7-pinterest.png", alt: "Pinterest")%></a></li>
        <li><a href="#" id="ins"><%=image_tag("icons/icon-8-instagram.png", alt: "Instagram")%></a></li>
    </ul>
    <div id="copy"><p>©2015 Culinary Kids Academy</p></div>
</header>
<div id="content">
    <section id="home">
        <ul id="board">
            <li>
                    <div class="description">
                        <div class="positioned">
                           <!--  <div class="description-text">interactive</div> -->
                        </div>
                    </div>
                    <!-- <img src="imgs/layout/slider/0001.jpg" alt=""> -->
                    <%= image_tag @images[0].photo.url(:large) %>
            </li><li>
                    <div class="description">
                        <div class="positioned">
                            <div class="description-text"></div>
                        </div>
                    </div>
                     <%= image_tag @images[1].photo.url(:large) %>
            </li><li>
                    <div class="description">
                        <div class="positioned">
                            <div class="description-text"></div>
                        </div>
                    </div>
                     <%= image_tag @images[2].photo.url(:large) %>
            </li><li>
                    <div class="description">
                        <div class="positioned">
                            <div class="description-text"></div>
                        </div>
                    </div>
                     <%= image_tag @images[3].photo.url(:large) %>
            </li><li>
                    <div class="description">
                        <div class="positioned">
                            <div class="description-text"></div>
                        </div>
                    </div>
                    <%= image_tag @images[4].photo.url(:large) %>
            </li><li>
                    <div class="description">
                        <div class="positioned">
                            <div class="description-text"></div>
                        </div>
                    </div>
                    <%= image_tag @images_static[0].photo.url(:large) %>
            </li><li id="cka-text">
                    
                    <!-- <div class="cka-text-content">
                        <h4>CULINARY KIDS ACADEMY</h4>
                        <h5>We help students learn to cook while tapping into and honing their 
incredible academic potential!</h5>
                    </div>
                    <img src="imgs/layout/slider/0007-slide-text-placeholder.jpg" alt=""> -->
                     <%=image_tag("slider/0007-slide-text.jpg", alt: "")%>
            </li><li>
                    <div class="description">
                        <div class="positioned">
                            <div class="description-text"></div>
                        </div>
                    </div>
                     <%= image_tag @images_static[1].photo.url(:large) %>
            </li><li>
                    <div class="description">
                        <div class="positioned">
                            <div class="description-text"></div>
                        </div>
                    </div>
                    <%= image_tag @images[5].photo.url(:large) %>
            </li><li>
                    <div class="description">
                        <div class="positioned">
                            <div class="description-text"></div>
                        </div>
                    </div>
                     <%= image_tag @images[6].photo.url(:large) %>
            </li><li>
                    <div class="description">
                        <div class="positioned">
                            <div class="description-text"></div>
                        </div>
                    </div>
                     <%= image_tag @images[7].photo.url(:large) %>
            </li><li>
                    <div class="description">
                        <div class="positioned">
                            <div class="description-text"></div>
                        </div>
                    </div>
                     <%= image_tag @images[8].photo.url(:large) %>
            </li><li>
                    <div class="description">
                        <div class="positioned">
                            <div class="description-text"></div>
                        </div>
                    </div>
                    <%= image_tag @images_static[2].photo.url(:large) %>
            </li><li>
                    <div class="description">
                        <div class="positioned">
                            <div class="description-text"></div>
                        </div>
                    </div>
                     <%= image_tag @images[9].photo.url(:large) %>
            </li><li>
                    <div class="description">
                        <div class="positioned">
                            <div class="description-text"></div>
                        </div>
                    </div>
                     <%= image_tag @images_static[3].photo.url(:large) %>
            </li></ul>
    </section>
    <section id="our-offering" class="clearfix">
        <ul id="subjects">          
            <li>
                <a href="#" data-toggle="modal" data-target="#historyModal">
                     <%=image_tag("icons/icon-sec-history.png")%>
                </a>
                <h4>History</h4>
            </li>
            <div class="modal fade" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">History</h4>
                        </div>
                        <div class="modal-body">
                            <div class="owl-carousel">
                                <% @history_images = Image.where(section_id: 3) %>
                                <% if @history_images %>
                                    <% @history_images.each do |image| %>
                                        <div> <%= image_tag image.photo.url(:medium) %></div>
                                    <% end %>
                                <% end %>
                            </div>
                        <% @history = Section.find_by(id: 3) %>
                        <%=@history[:description]%>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                           
                        </div>
                    </div>
                </div>
            </div>
            <li>
                <a href="#" data-toggle="modal" data-target="#scienceModal">
                    <%=image_tag("icons/icon-sec-science.png")%>
                </a>
                <h4>Science</h4>
            </li>
            <div class="modal fade" id="scienceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Science</h4>
                        </div>
                        <div class="modal-body">
                            <div class="owl-carousel">
                                <% @science_images = Image.where(section_id: 4) %>
                                <% if @science_images %>
                                    <% @science_images.each do |image| %>
                                        <div> <%= image_tag image.photo.url(:medium) %></div>
                                    <% end %>
                                <% end %>
                            </div>
                           
                        <% @science = Section.find_by(id: 4) %>
                        <%=@science[:description]%>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                           
                        </div>
                    </div>
                </div>
            </div>
            <li>
                <a href="#" data-toggle="modal" data-target="#mathModal">
                    <%=image_tag("icons/icon-sec-math.png")%>
                </a>
                <h4>Math</h4>
            </li>
             <div class="modal fade" id="mathModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Math</h4>
                        </div>
                        <div class="modal-body">
                            <div class="owl-carousel">
                                <% @math_images = Image.where(section_id: 5) %>
                                <% if @math_images %>
                                    <% @math_images.each do |image| %>
                                        <div> <%= image_tag image.photo.url(:medium) %></div>
                                    <% end %>
                                <% end %>
                            </div>
                         <% @math = Section.find_by(id: 5) %>
                        <%=@math[:description]%>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                         
                        </div>
                    </div>
                </div>
            </div>
            <li>
                <a href="#" data-toggle="modal" data-target="#nutritionModal">
                    <%=image_tag("icons/icon-sec-nutrition.png")%>
                </a>
                <h4>Nutrition</h4>
            </li>
             <div class="modal fade" id="nutritionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Nutrition</h4>
                        </div>
                        <div class="modal-body">
                            <div class="owl-carousel">
                                <% @nutrition_images = Image.where(section_id: 6) %>
                                <% if @nutrition_images %>
                                    <% @nutrition_images.each do |image| %>
                                        <div> <%= image_tag image.photo.url(:medium) %></div>
                                    <% end %>
                                <% end %>
                            </div>
                          <% @nutrition = Section.find_by(id: 6) %>
                        <%=@nutrition[:description]%>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                         
                        </div>
                    </div>
                </div>
            </div>
            <li>
                <a href="#" data-toggle="modal" data-target="#safetyModal">
                   <%=image_tag("icons/icon-sec-safety.png")%>
                </a>
                <h4>Safety</h4>
            </li>
             <div class="modal fade" id="safetyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Safety</h4>
                        </div>
                        <div class="modal-body">
                            <div class="owl-carousel">
                                <% @safety_images = Image.where(section_id: 7) %>
                                <% if @safety_images %>
                                    <% @safety_images.each do |image| %>
                                        <div> <%= image_tag image.photo.url(:medium) %></div>
                                    <% end %>
                                <% end %>
                            </div>
                          <% @safety = Section.find_by(id: 7) %>
                        <%=@safety[:description]%>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                         
                        </div>
                    </div>
                </div>
            </div>
            <li>
                <a href="#" data-toggle="modal" data-target="#judaicModal">
                    <%=image_tag("icons/icon-sec-judaic-studies.png")%>
                </a>
                <h4>Judaic studies</h4>
            </li>
             <div class="modal fade" id="judaicModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Judaic Studies</h4>
                        </div>
                        <div class="modal-body">
                            <div class="owl-carousel">
                                <% @judaic_images = Image.where(section_id: 8) %>
                                <% if @judaic_images %>
                                    <% @judaic_images.each do |image| %>
                                        <div> <%= image_tag image.photo.url(:medium) %></div>
                                    <% end %>
                                <% end %>
                            </div>
                         <% @judaic = Section.find_by(id: 8) %>
                        <%=@judaic[:description]%>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          
                        </div>
                    </div>
                </div>
            </div>
            <li>
                <a href="#" data-toggle="modal" data-target="#campsModal">
                   <%=image_tag("icons/icon-sec-camps.png")%>
                </a>
                <h4>Camps</h4>
            </li>
             <div class="modal fade" id="campsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Camps</h4>
                        </div>
                        <div class="modal-body">
                            <div class="owl-carousel">
                                <% @camps_images = Image.where(section_id: 9) %>
                                <% if @camps_images %>
                                    <% @camps_images.each do |image| %>
                                        <div> <%= image_tag image.photo.url(:medium) %></div>
                                    <% end %>
                                <% end %>
                            </div>
                          <% @camps = Section.find_by(id: 9) %>
                        <%=@camps[:description]%>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            
                        </div>
                    </div>
                </div>
            </div>
            <li>
                <a href="#" data-toggle="modal" data-target="#recipesModal">
                   <%=image_tag("icons/icon-sec-recipes.png")%>
                </a>
                <h4>Recipes</h4>
            </li>
             <div class="modal fade" id="recipesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Recipes</h4>
                        </div>
                        <div class="modal-body">
                            <div class="owl-carousel">
                                <% @recipes_images = Image.where(section_id: 10) %>
                                <% if @recipes_images %>
                                    <% @recipes_images.each do |image| %>
                                        <div> <%= image_tag image.photo.url(:medium) %></div>
                                    <% end %>
                                <% end %>
                            </div>
                          <% @recipes= Section.find_by(id: 10) %>
                        <%=@recipes[:description]%>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                           
                        </div>
                    </div>
                </div>
            </div>
        </ul>
    </section>
    <section id="cka-story" class="clearfix">
        <div class="videoWrapper">
            <iframe width="100%" height="400px" src="https://www.youtube.com/embed/QFDZEzLL2m0?rel=0&modestbranding=1&autohide=1&showinfo=0&controls=0" frameborder="0" frameborder="0" allowfullscreen></iframe>
        </div>
    </section>
    <section id="testimonials" class="clearfix">
        <div class="two-col external-content">
            <h2 class="testimonial-header">Testimonials</h2>
            <figure>
                <%=image_tag("placeholder-testimonials.png", alt: "Testimonials")%>
                <figcaption>Daniel Jones</figcaption>
            </figure>           
            <p class="testimonial-name"></p>
            <p class="testimonial-content">
                “Daniel is extremely  knowledgeable and fun. Kids are eating better, reading more labels, and understand what they are reading. Their habits are changing, and it’s all for the best.”
            </p>
            <button class="btn-external see-them-all" data-toggle="modal" data-target="#testimonialModal" >See them all</button>
             <div class="modal fade" id="testimonialModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Testimonials</h4>
                        </div>
                        <div class="modal-body testimonial-modal-body">
                        <% @testimonial.each do |t| %>
                        <ol><em> "<%=t.description%>" </em><br><br>
                            <%=t.name%> <ol><br><br><br>
                        <% end %>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="two-col external-content" id="blog">
            <h2 class="posts-header">Latest posts</h2>
            <ul id="latest-posts">
                <li class="clearfix">
                    <%=image_tag("placeholder-posts-1.png", alt: "")%>
                    <p>
                        <span class="posts-name">Richard Nyman </span>
                        <span class="posts-title">The CKA Experience on campus</span>
                    </p>
                </li>
                <li class="clearfix">
                    <%=image_tag("placeholder-posts-2.png", alt: "")%>
                    <p>
                        <span class="posts-name">Melanie Archer </span>
                        <span class="posts-title">7 reasons why you want CKA in your school</span>
                    </p>
                </li>
                <li class="clearfix">
                    <%=image_tag("placeholder-posts-3.png", alt: "")%>
                    <p>
                        <span class="posts-name">Victoria Yoffie </span>
                        <span class="posts-title">On how eating and excercise know no age</span>
                    </p>
                </li>
            </ul>
            <button class="btn-external go-to-blog">Go to the blog</button>
        </div>
    </section>
    <section id="social" class="clearfix">
        <div class="two-col" id="phone">
            <h2 class="call">Call Us: (310) 463-0715</h2>
        </div>
        <div class="two-col" id="social-icons-big">
            <ul>
                <li><a href="#" id="fb-big"><%=image_tag("icons/icon-soc-fb.png", alt: "Facebook")%></a></li>
                <li><a href="#" id="pin-big"><%=image_tag("icons/icon-soc-pinterest.png", alt: "Pinterest")%></a></li>
                <li><a href="#" id="ins-big"><%=image_tag("icons/icon-soc-instagram.png", alt: "Instagram")%></a></li>
            </ul>
        </div>
    </section>
    <section id="instagram">
        <ul>
            <li>
                <div class="description">
                

                </div>
                <%= image_tag @low_res[0]['image'] %>
            </li><li>
                <div class="description">
                
                </div>
                <%= image_tag @low_res[1]['image'] %>
            </li><li>
                <div class="description">
                 
                </div>
                <%= image_tag @low_res[2]['image'] %>
            </li><li>
                <div class="description">
                  
                </div>
                <%= image_tag @low_res[3]['image'] %>
            </li><li>
                <div class="description">
                  
                </div>
                <%= image_tag @low_res[4]['image'] %>
            </li><li>
                <div class="description">
                    <p></p>
                </div>
                <%= image_tag @low_res[5]['image'] %>
            </li><li>
                <div class="description">
                    <p></p>
                </div>
               <%= image_tag @low_res[6]['image'] %>
            </li><li>
                <div class="description">
                    <p></p>
                </div>
                <%= image_tag @low_res[7]['image'] %>
            </li>
        </ul>
        
    </section>
    <footer>
        <div class="three-col company">
            <h3>CKA</h3>
            <ul>
                <li>Our offering</li>
                <li>The CKA story</li>
                <li>Testimonials</li>
                <li>CKA blog</li>
                <li>Contact</li>
            </ul>
        </div>
        <div class="three-col company">
            <h3>About Us</h3>
            <ul>
                <li>Company</li>
                <li>Our Team</li>
                <li>Contacts</li>
                <li>Terms and Conditions</li>
                <li>Privacy Policy</li>
            </ul>
        </div>
        <div class="three-col subscribe">
            <h3>Subscribe</h3>
            <form action="" method="post">
                <input type="text" placeholder="hello@cka.com">
                <input type="submit" value="Send">
            </form>
        </div>

    </footer>
</div>



