<header class="left" style="display:fixed">
    <section id="logo">
        <figure>
            <%=image_tag("logo-cka.png", alt: "Culinary Kids Academy")%>
            <!-- <img src="imgs/layout/logo-cka.png" alt="Culinary Kids Academy"> -->
            <!-- <figcaption></figcaption> -->
        </figure>
        <h1 class="logo">Culinary Kids Academy</h1>
    </section>
    
    <nav role="main-navigation" itemscope itemtype="https://schema.org/SiteNavigationElement">
        <ul class="navmenu">
            <li id="nav-test"><a href="/admin/<%=@admin.id%>/sections">Edit Section Content</a></li>
            <li id="nav-test2"><a href="/admin/<%=@admin.id%>/testimonials">Edit Testimonials</a></li>
            <li id="nav-test3"><a href="/admin/<%=@admin.id%>/images">Edit Images</a></li>
            <li id="nav-test4"><a href="/admin/<%=@admin.id%>">Edit Admin Users</a></li>
            <li id="nav-test5">
                <form method="POST" action="/session">
                    <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
                    <input name="_method" value="DELETE" type="hidden">
                    <button class="submit">Logout</button>  
                </form>
            </li>
            
        </ul>       
    </nav>
</header>

<div id="content">
<h1> Edit Images </h1> <br>

    Current Image:
    <%= image_tag @image.photo.url(:medium) %> 
    <br>
    Current Section: 
    <%= @image.section_id %>

    <%= form_for [:admin, @image], url: {action: "update"}, :html => {:multipart => true} do |f| %>

    <%= f.label "Image file: " %>
    <%= f.file_field :photo %>
    <select name="section_id" id="section_id" value="">
        <option value="1">Home Page</option>
     	<option value="2">Home Page Static</option>
     	<option value="3">History</option>
     	<option value="4">Science</option>
     	<option value="5">Math</option>
     	<option value="6">Nutrition</option>
     	<option value="7">Safety</option>
     	<option value="8">Judaic Studies</option>
     	<option value="9">Camps</option>
        <option value="10">Recipes</option>
     	<option value="11">Testimonials</option>
     
     </select>
    <%= f.submit "Submit" %>

    <br>
     

    <% end %>

</div>